body{
      font-family: Arial, sans-serif;
      /* overflow: hidden; */
      background: linear-gradient(
      135deg,
      #000000 0%,        
      #1b001b 20%,     
      #0a0a0a 50%,     
      #1b001b 80%,     
      #000000 100%     
);

}

h1,p{
      color: white;
}


.landing{
  height: 100vh;
  width: 100%;
}
